.navbar .navbar-brand {
    font-size: 20px;
}
.navbar .navbar-nav {
    font-size: 10px;
}

#nav {
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

#about {
    background-color: #A9CCE3;
    height: 685px;
    padding-top: 100px;
    padding-bottom: 50px;
}

#about1 {
  border-radius: 5px;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 30px;
  background: #ccc;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 12px;
  color: #fafafa;
}

#console {
  width: 670px;
  padding: 40px;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  background: #383737;
}

#resume {
    background-color: #ddd;
    height: 2500px;
    padding: 70px;
    padding-left: 180px;
    padding-right: 180px;
}

.resume-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.2em;
}

.resume-section {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #CEC8C8;
}

.resume-info {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 19px;
  letter-spacing: 0.1em;
}

.resume-langs {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

img.resume-photo {
  width: 75px;
  height: 75px;
  /*-webkit-border-radius: 50%;*/
  /*-moz-border-radius: 50%;*/
  /*-ms-border-radius: 50%;*/
  /*-o-border-radius: 50%;*/
  border-radius:50%;
  float: left;
  /*vertical-align: middle;*/
  /*display: block;*/
  margin-left: -95px;
  /*margin-top: 5px;*/
  background-color: #fff;
  opacity: 0.9;
  /*z-index: 0;*/
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  /*-webkit-transition: all .4s ease;*/
}

img.resume-photo:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

#work {
    background-color: #A9CCE3;
    height: 685px;
}

#contact {
    background-color: #ddd;
    height: 585px;
    padding: 70px;
}

#footer{
  background: #fafafa;
  min-height: 50px;
  text-align: left;
  color: #b1b1b1;
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoEmail:hover {
  background-color: #4885ed;
}
.social-network a.icoGitHub:hover {
  background-color: #6cc644;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoGoogle:hover {
  background-color:#ea4335;
}
.social-network a.icoEmail:hover i, .social-network a.icoGitHub:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoGoogle:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display: table;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 60px;
  height: 60px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:60px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
 background-color: #A9CCE3;
}


